<!DOCTYPE HTML>
<!--
    Phantom by HTML5 UP
    html5up.net | @ajlkn
    Free for personal and commercial use under the CCA 3.0 license (html5up.net/license)
-->
<html>
    <head>
        <%- include('head'); %>
    </head>
    <body>
        <!-- Wrapper -->
        <div id="wrapper">
        <!-- Header -->
        <%- include('header'); %>
        <!-- Main -->
            <div class="main guide">
                <div class="inner">
                    <h1>營隊簡介</h1>
                    <p>由建國中學資訊社、成功高中電子計算機研習社、中山女高資訊研究社、景美女中電腦資訊社這幾個充滿熱忱的高中社團聯合舉辦。暑訓將以實作課程為主，加上企業參訪、有趣的活動，號召有興趣的國中畢業生一同探索資訊的世界。透過我們的營隊，同學將能更進一步了解什麼是資訊科技，培養進一步的資訊能力。</p>
                </div>
                <div class="inner" style="padding-bottom: 2em;">
                    <a id="crew" style="opacity: 0;"></a>
                    <h1>團隊</h1>
                    <section id="infor">
                        <h3>建中資訊</h3>
                        <span class="image left"><img src="images/infor.png" alt=""></span>
                        <ul>
                            <li>學術交流：建中資訊社為本校最大的社團之一，因而聚集了各種領域的專才。在專案小組或是研討會中，互相分享每個人的知識與想法，促使我們能製造出創新的成果。</li>
                            <li>社團活動：建中資訊社與全台近百個社團結為友社，並主要與楓資及景資一起主辦活動。除了常態的聯合社課以外，還有定期的暑訓、迎新、秋遊、寒訓和春遊等大型活動。</li>
                            <li>未來領航：建中資訊社在全台灣至全世界佈下資訊科技的人才，我們不只侷限於僅僅一個高中的社團，更放眼至全世界最頂尖的資訊社群。</li>
                        </ul>
                    </section>
                    <section id="ckcsc">
                        <h3>成功電研</h3>
                        <span class="image right"><img src="images/ckcsc.jpg" alt=""></span>
                        <p>
                            我們是第31屆成功高中電子計算機研習社，我們是一群對資訊充滿熱愛的成功學子，每個人都有各自的專長及興趣，讓這個社團變得更多元以及精彩。我們以程式語言課程和專題研究交換授課，程式語言以C++為主，其他語言為輔；專題研究會依照社員對資訊方面不同的興趣做分組，學期末會舉辦成果發表會，來呈現一年來的努力成果。我們都是因為資訊而聚集在一起，期待我們能夠與更多的資訊社聯繫及交流，將歷屆學長的精神傳承下去。
                        </p>
                    </section>
                    <section id="zsisc">
                        <h3>中山資研</h3>
                        <span class="image left"><img src="images/zsisc.jpg" alt=""></span>
                        <p>
                            擁有熱情的學生們，運用繪圖軟體和程式編碼，編織出精彩的網路世界，在思想碰撞中彈奏出狂想曲。讓青春染上美好----這便是楓資資訊研究社!
                        </p>
                    </section>
                    <section id="cmioc">
                        <h3>景美電資</h3>
                        <span class="image right"><img src="images/cmioc.png" alt=""></span>
                        <p>
                            傳統女校、黃衫、椰林，是大家對景美女中的印象。而我們，是一群對資訊抱有熱忱的景美學生。我們將景女電資社分為程式班及網頁設計美術班。程式班，社員學習Processing、C++，提升自身的程式學術力。而網頁設計美術班，簡稱網美班，則以製作遊戲的Unity、RPG Maker為主要學習課程，亦有網頁設計HTML、Emaze簡報製作課程。電資社的我們，因為熱愛資訊而聚集在一起。希望將電腦資訊的學術力及對資訊的熱忱繼續傳承下去。
                        </p>
                    </section>
                </div>
            </div>
        <!-- Footer --> 
        <%- include('footer'); %>
        </div>
        <!-- Scripts -->
        <script src="assets/js/jquery.min.js"></script>
        <script src="assets/js/skel.min.js"></script>
        <script src="assets/js/util.js"></script>
        <!--[if lte IE 8]><script src="assets/js/ie/respond.min.js"></script><![endif]-->
        <script src="assets/js/main.js"></script>
    </body>
</html>