<header id="header">
<div class="inner">
    <!-- Logo -->
        <a href="/" class="logo"><span class="title">資意成楓建美景</span></a>
    <!-- Nav -->
        <nav>
            <ul>
                <li><a href="#menu">Menu</a></li>
            </ul>
        </nav>
</div>
</header>
<!-- Menu -->
<nav id="menu">
<h2>選單</h2>
<ul>
    <li><a href="/">首頁</a></li>
    <li><a href="/guide">營隊簡介</a></li>
    <li><a href="/register">報名須知</a></li>
    <li><a href="/schedule">營隊課表</a></li>
    <li><a href="/guide#crew">團隊陣容</a></li>
    <li><a href="/history">歷年精華</a></li>
    <li><a href="/qna">Q &amp; A</a></li>
    <% if (reg == "pending") { %>
    <a href="/register" class="register button special">報名即將開始</a>
    <% } else if (reg == "start") { %>
    <a href="/register" class="register button special">開始報名</a>
    <% } else if (reg == "end") { %>
    <a href="/register" class="register button special">報名截止</a>
    <% } %>
</ul>
</nav>