<!DOCTYPE HTML>
<!--
    Phantom by HTML5 UP
    html5up.net | @ajlkn
    Free for personal and commercial use under the CCA 3.0 license (html5up.net/license)
-->
<html>
    <head>
        <%- include('head'); %>
    </head>
    <body>
        <!-- Wrapper -->
        <div id="wrapper">
            <!-- Header -->
            <%- include('header'); %>
            <!-- Main -->
            <div class="main qna">
                <div class="inner" style="padding-bottom:2em;">
                    <section id="qna">
                        <h1>Q&amp;A</h1>
                        <hr>
                        <p>Q:為什麼你們營隊的費用那麼貴？<br>A:這些費用裡面包含了我們的講義費、場地費，還有我們每天都會幫參加的同學保保險、買午餐，並且包含一件訓服喔！</p>
                        <p>Q:如果我的小孩很有興趣，但只能去幾天，請問可以繳部分費用就好嗎？<br>A:我們有退費機制，只來幾天也是可以的喔。<br>&nbsp;&nbsp;&nbsp;&nbsp;退費機制請參閱<a href="/register#refund">這裡</a></p>
                        <p>Q:企業參訪是去那裡？<br>A:我們要去參訪<a href="https://tw.systex.com" target="_blank">精誠科技</a>。</p>
                        <p>Q:講師是誰?到底有沒有實力教我的小孩？<br>A:我們會請四校各社專精於該領域的講師教學，而且在事先我們都會請講師試教過，調整比較難理解的部分。</p>
                        <p>Q:請問報名年齡有限制嗎？<br>A:有的，我們招收正在就讀國中的同學，並以國三生為優先，而且不論男女、學校，只要有興趣的同學都非常歡迎！</p>
                        <p>Q:請問此次活動預計招收多少人？<br>A:這次活動將招收40人。</p>
                        <p>Q:請問你們營隊有要住宿嗎？<br>A:營隊都是當天來回，所以不用擔心住宿的問題！</p>
                        <p>Q:課程會不會很難?我的小孩學不會怎麼辦？<br>A:我們的課程以入門的程式語言為主，並且加上ㄧ些美宣軟體的教學，在現場都會有部分學長姊待在教室內，同學有問題都可以立即發問！</p>
                        <p>Q:如何繳費?<br>A:匯款帳戶: 富邦(012) 新店分行 726168615109 吳宗翰<br>&nbsp;&nbsp;&nbsp;&nbsp;請於 <strike>7/11</strike>&nbsp; <strong>7/12(四)</strong> (因應新北市颱風假)之前完成匯款新台幣貳仟元整，並將匯款後四碼，以及匯款時間填寫在表單中。<br>&nbsp;&nbsp;&nbsp;&nbsp;<a href="http://bit.ly/CscampTransfer">表單連結</a></p>
                        <p>Q:衣服的尺寸是要怎麼選呢?<br>A:請參考<a href="file/clothes_size.jpg" data-fancybox="images">尺寸對照表</a>。</p>
                    </section>
                    <hr>
                    <section id="fans">
                        <h1>現在就關注粉專!</h1>
                        <p>注意事項、報到通知及錄取名單等重要事項將會在粉專公佈！即刻按讚、訂閱吧！</p>
                        <div class="frames">
                            <iframe src="https://www.facebook.com/plugins/page.php?href=https%3A%2F%2Fwww.facebook.com%2Fpg%2F%E8%B3%87%E6%84%8F%E6%88%90%E6%A5%93-%E9%A9%9A%E5%BB%BA%E7%BE%8E%E6%99%AF-2018-%E5%9B%9B%E6%A0%A1%E8%81%AF%E5%90%88%E6%9A%91%E8%A8%93-386189141887289%2F&amp;tabs=timeline&amp;width=360&amp;height=340&amp;small_header=false&amp;adapt_container_width=true&amp;hide_cover=false&amp;show_facepile=true&amp;appId" style="border:none;overflow:hidden;" scrolling="no" frameborder="0" allowTransparency="true" allow="encrypted-media"></iframe>
                        </div>
                    </section>
                </div>
            </div>
            <!-- Footer -->
            <%- include('footer'); %>
        </div>
        <!-- Scripts -->
        <script src="assets/js/jquery.min.js"></script>
        <script src="assets/js/skel.min.js"></script>
        <script src="assets/js/util.js"></script>
        <!--[if lte IE 8]><script src="assets/js/ie/respond.min.js"></script><![endif]-->
        <script src="assets/js/main.js"></script>
        <!-- FancyBox (photo viewer) -->
		<script src="//cdnjs.cloudflare.com/ajax/libs/fancybox/3.0.47/jquery.fancybox.min.js"></script>
		<link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/fancybox/3.0.47/jquery.fancybox.min.css" />
    </body>
</html>
