body {
    font-family: "Source Sans Pro", Helvetica, 'Noto Sans TC', sans-serif;
}
#header .logo {
    font-weight: 500;
}
#menu .register.button.special {
    border: solid 2px white;
    color: white;
    font-weight: 600;
}
.banner {
    min-height: 70vh;
    background: url('/images/banner.png');
    background-position: center center;
    background-size: contain;
    background-repeat: no-repeat;
    background-color: #3DBCA5;
    position: relative;
}
.banner > .inner {
    padding: 0;
    height: 100%;
}
.date {
    position: absolute;
    bottom: 1.5em;
    right: 1.5em;
    color: black;
    font-size: 40px;
    margin: 0;
}
.tilesContainer {
    background-color: #EDEDED ;
    padding-bottom: 2em;
}
.tilesContainer .reg.inner {
    padding-top: 2em !important;
    display: flex;
}
.tiles article > .image {
    height: 100%;
}
.tiles article > .image img {
    height: 100%
}
#footer {
    background-color: #2a2f4a;
    padding: 4em 0 3em 0;
}
#footer .actions a {
    color: white;
    border: none;
}
#footer > .inner > .copyright {
    margin-top: 0;
    color: rgba(244, 244, 255, 0.2);
}
#fans {
    position: relative;
    min-height: calc(2em + 340px);
}
#fans > p {
    width: 55vw;
}
.frames > iframe {
    position: absolute;
    right: 0;
    top: 0;
    width: 360px;
    height: 340px;
}
.image.left {
    padding-right: 3em;
}
.image.right {
    padding-left: 3em;
}
.image.right img, .image.left img {
    max-height: 240px;
}
#crew ~ section {
    padding: 1em 0;
}
#crew ~ section::after {
    content: '';
    display: block;
    clear: both;
}
section h3 {
    margin-bottom: 0;
}
li ul {
    margin-bottom: 0;
}
/* schedule */
table tbody tr:nth-child(2n+1) {
	background-color: rgba(144, 144, 144, 0.165);
}
table tbody tr td {
    vertical-align: middle;
    text-align: center;
}
.main {
    background-color: #EFEFEF;
}
.main h1,.main h2 {
    margin: 0 0 0.6em 0;
    padding-top: 0.6em;
}
/* form */
form label {
    margin: 0;
}
form select,form input {
    font-family: 'Noto Sans TC',sans-serif;
}
input[type="tel"] {
    height: 3em;
}
form :not(div):not(li) {
    width: 100%;
}
form h2 {
    padding-left: 0 !important;
    margin: 0;
}
form hr {
    margin: 0;
    padding-top: 0 !important;
}
form div.first {
    padding-left: 0 !important;
}
form .actions {
    display: inline-flex;
    justify-content: flex-end;
}
/* https://stackoverflow.com/a/36118012 previous neighbor selector*/
form div:not(.row):not(.uniform) {
    display: flex;
    flex-direction: column;
}
form div > :last-child {
    order: -1;
}
form div > input:required + label::before,form div > div.select-wrapper + label::before {
    color: red;
    content: "*";
    margin-right: 4px;
}
/* previous neighbor selector end */
input[type="checkbox"] + label::before {
    content: '' !important;
}
/* Snackbar */
#snackbar-container {
    right: 20px !important;
    left: unset !important;
}

@media screen and (max-width: 960px) {
    .frames > iframe {
        display: block;
		float: none;
		clear: both;
		position: static;
        margin-bottom: .8em;
        width: 100%;
    }
    .date {
        bottom: 0.6em;
        right: 0.9em;
        font-size: 25px;
    }
    #fans > p {
        width: 100%;
    }
}

@media screen and (max-width: 480px) {
    .row.uniform > * {
        padding-left: 0;
    }
    .banner {
        margin-bottom: 0;
        background: url('/images/banner_m.png');
        background-position: center center;
        background-size: contain;
        background-repeat: no-repeat;
        background-color: #3DBCA5;
    }
    .image.right, .image.left {
        float: none;
        clear: both;
        max-width: 100%;
        padding: 0;
        display: block;
        margin-bottom: 25px;
    }
    .image.right img, .image.left img {
        max-width: 100%;
        max-height: unset;
    }
    
}
